
 <div class="reportSection tableContainer">
    <h4>Habitats</h4>
      {{#isCollection}}
        {{#meetsNationalGoal}}
          <p style="padding-left:50px;" class="large green-check">
            The selected collection <b>meets</b> the national coral conservation goal of <b>10%</b>.
          </p>
        {{/meetsNationalGoal}}
        {{^meetsNationalGoal}}
          <p style="padding-left:50px;" class="large red-x">
            The selected collection <b>does not meet</b> the national coral conservation goal of <b>10%</b>.
          </p>
        {{/meetsNationalGoal}}
        {{#meetsConservationGoal}}
          <p style="padding-left:50px;" style="padding-left:25px;"class="large green-check">
            The selected collection <b>meets</b> the coral conservation goal of <b>30%</b>.
          </p>
        {{/meetsConservationGoal}}
        {{^meetsConservationGoal}}
          <p style="padding-left:50px;" class="large red-x">
            The selected collection <b>does not meet</b> the coral conservation goal of <b>30%</b>.
          </p>
        {{/meetsConservationGoal}}
      {{/isCollection}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;">Habitat</th>
            <th>Area (sq. km.)</th>
            <th>Area (% of Total)</th>
          </tr>
        </thead>
        <tbody>
          {{#habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{AREA_SQKM}}</td>
            <td>{{PERC}}</td>
          </tr>
          {{/habitats}}
        </tbody>
      </table>
 </div>

 <div class="reportSection tableContainer">
    <h4>Biomass</h4>
    {{#d3IsPresent}}
      <div class="in-report-header">Herbivorous Biomass</div>
      <div id="herb_viz" class="herb_viz"></div>
      <div class="in-report-header">Fish Biomass</div>
      <div id="fish_viz" class="fish_viz"></div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;"></th>
            <th>Mean</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Herbivore</td>
            <td>{{herb.MEAN}}</td>
            <td>{{herb.MIN}}</td>
            <td>{{herb.MAX}}</td>
          </tr>
          <tr>
            <td>Fish</td>
            <td>{{fish.MEAN}}</td>
            <td>{{fish.MIN}}</td>
            <td>{{fish.MAX}}</td>
          </tr>
        </tbody>
      </table>
    {{/d3IsPresent}}
 </div>

