
 <div class="reportSection tableContainer">
    <h4>Habitats</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;">Habitat</th>
            <th>Area (sq. km.)</th>
            <th>Area (% of Total)</th>
          </tr>
        </thead>
        <tbody>
          {{#habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{AREA_SQKM}}</td>
            <td>{{PERC}}</td>
          </tr>
          {{/habitats}}
        </tbody>
      </table>
 </div>

 <div class="reportSection tableContainer">
    <h4>Biomass</h4>
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;"></th>
            <th>Mean</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Herbivore</td>
            <td>{{herb.MEAN}}</td>
            <td>{{herb.MIN}}</td>
            <td>{{herb.MAX}}</td>
          </tr>
          <tr>
            <td>Fish</td>
            <td>{{fish.MEAN}}</td>
            <td>{{fish.MIN}}</td>
            <td>{{fish.MAX}}</td>
          </tr>
        </tbody>
      </table>
 </div>

