
 <div class="reportSection tableContainer">
    <h4>Habitats</h4>
      {{#isCollection}}
        {{#meetsNationalGoal}}
          <p style="padding-left:50px;" class="large green-check">
            The selected collection <b>meets</b> the national coral conservation goal of <b>10%</b>.
          </p>
        {{/meetsNationalGoal}}
        {{^meetsNationalGoal}}
          <p style="padding-left:50px;" class="large red-x">
            The selected collection <b>does not meet</b> the national coral conservation goal of <b>10%</b>.
          </p>
        {{/meetsNationalGoal}}
        {{#meetsConservationGoal}}
          <p style="padding-left:50px;" style="padding-left:25px;"class="large green-check">
            The selected collection <b>meets</b> the coral conservation goal of <b>30%</b>.
          </p>
        {{/meetsConservationGoal}}
        {{^meetsConservationGoal}}
          <p style="padding-left:50px;" class="large red-x">
            The selected collection <b>does not meet</b> the coral conservation goal of <b>30%</b>.
          </p>
        {{/meetsConservationGoal}}
      {{/isCollection}}

      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;">Habitat</th>
            <th>Area (sq. km.)</th>
            <th>Area (% of Total)</th>
          </tr>
        </thead>
        <tbody>
          {{#habitats}}
          <tr>
            <td>{{HAB_TYPE}}</td>
            <td>{{AREA_SQKM}}</td>
            <td>{{PERC}}</td>
          </tr>
          {{/habitats}}
        </tbody>
      </table>
      {{^isCollection}}
      <p>
        <i>
          This project has set a conservation goal to protect 30% of coral reef habitat, and at minimum meet the National Standard of 10% protection. These goals will not be met by a single protection zone, but require the design of multiple zones along the Curacao coast. Place this sketch in a Collection folder with other sketches to analyze a complete zoning scheme
        </i>
      <p>
      {{/isCollection}}
 </div>

 <div class="reportSection tableContainer">
    <h4>Biomass</h4>
    <p>
      These charts show the minimum, mean and maximum biomass value taken within your sketched zone, in relation to the distribution of biomass measured around the island. Biomass was calculated for Herbivores and All Fish at regular points along Curacao's coast
    <p>
    {{#d3IsPresent}}
      <div class="in-report-header">Herbivore Biomass</div>
      <div id="herb_viz" class="herb_viz"></div>
      <div class="in-report-header">All Fish Biomass</div>
      <div id="fish_viz" class="fish_viz"></div>
    {{/d3IsPresent}}
    {{^d3IsPresent}}
      <table data-paging="10">
        <thead>
          <tr>
            <th style="width:250px;"></th>
            <th>Mean</th>
            <th>Minimum</th>
            <th>Maximum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Herbivores</td>
            <td>{{herb.MEAN}}</td>
            <td>{{herb.MIN}}</td>
            <td>{{herb.MAX}}</td>
          </tr>
          <tr>
            <td>All Fish</td>
            <td>{{fish.MEAN}}</td>
            <td>{{fish.MIN}}</td>
            <td>{{fish.MAX}}</td>
          </tr>
        </tbody>
      </table>
    {{/d3IsPresent}}
 </div>

