
 <div class="reportSection">
    <h4>Size</h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{size}} sq. km.</strong>
    </p>
 </div>

