
 <div class="reportSection">
    <h4>Size</h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{size}} sq. km.</strong>
      
    </p>
 </div>

 <div class="reportSection">
    <h4>Minimum Dimension</h4>
    <p>
      The width of the smallest side of {{min_dim_name}} is <strong>{{min_dim_size}} km</strong>.
    </p>
 </div>



