
 <div class="reportSection">
    <h4>Size</h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{size}} sq. km.</strong>
      
    </p>
 </div>

 <div class="reportSection">
    <h4>Minimum Dimension</h4>
    <p>
      The width of the smallest side of {{min_dim_name}} is <strong>{{min_dim_size}} km</strong>.
    </p>
 </div>

 <div class="reportSection">
    <h4>Fishing Value<a href="#" data-toggle-node="576dd593c95114be19e2d493" data-visible="false">show heatmap layer</a></h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_fishing_value}}%</strong> of the total fishing value within Curacao's waters, based on the user reported value of fishing grounds.
    </p>
 </div>

 <div class="reportSection">
    <h4>Dive Value<a href="#" data-toggle-node="576dd593c95114be19e2d497" data-visible="false">show heatmap layer</a></h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_dive_value}}%</strong> of the total dive value within Curacao's waters, based on the user reported value of dive sites.
    </p>
 </div>

 <div class="reportSection tableContainer">
    <h4>Zone Sizes</h4>
      {{#meets_zone_thresh}}
        <p style="padding-left:50px;" class="large green-check">
          The selected {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} protects <b>{{zone_tot}}%</b> of the coastal zones, meeting the goal of preserving <b>30%</b> of the coastal zones.
        </p>
      {{/meets_zone_thresh}}
      {{^meets_zone_thresh}}
        <p style="padding-left:50px;" class="large red-x">
          The selected {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} protects <b>{{zone_tot}}%</b> of the coastal zones, failing to achieve the goal of preserving <b>30%</b> of the coastal zones.
        </p>
      {{/meets_zone_thresh}}
     <table data-paging="10">
        <thead>
          <tr>
            <th>Name</th>
            <th>Percent</th>
            <th style="width:75px;">Meets Threshold?</th>
          </tr>
        </thead>
        <tbody>
          {{#zone_sizes}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{PERC}}</td>
            <td class={{MEETS_THRESH}}></td>
          </tr>
          {{/zone_sizes}}
        </tbody>
      </table>
 </div>
 