
  <div class="reportSection">
    <h4>Protection Goals<a href="#" data-toggle-node="5787c8c2002f824502cb111a" data-visible="false">show layer</a></h4>
    <span class="in-report-table-header">Within Curacao's Waters</span>
    <div class="protection-info">
      Does your plan meet the goal to protect 30% of Curacao’s nearshore waters, 30% of the waters out to 12nm, and 30% of the waters out to the EEZ boundary?
    </div>
     <table data-paging="10">
        <thead>
          <tr>
            <th>Name</th>
            <th>Percent</th>
            <th style="width:75px;">Meets Threshold?</th>
          </tr>
        </thead>
        <tbody>
          {{#waters_data}}
          <tr>
            <td>{{NAME}}</td>
            <td>{{PERC}}</td>
            <td class={{MEETS_THRESH}}></td>
          </tr>
          {{/waters_data}}
        </tbody>
      </table>
    <span class="in-report-table-header">Within The Coastal Zones</span>
    <div class="protection-info">
      Curacao’s waters within 1km from the shoreline have been divided into 8 distinct zones, based on Grouping Analysis of the Census data. Listed below, see if your plan meets the goal of protecting 15% of zones 2, 3, 4, 5, 6, and 7 (in addition to the goal of protecting 30% of nearshore waters overall, listed above). Click ‘show layer’ above to see a map of the 8 zones.
    </div>
     <table data-paging="10">
        <thead>
          <tr>
            <th>Name</th>
            <th>Percent</th>
            <th style="width:75px;">Meets Threshold?</th>
          </tr>
        </thead>
        <tbody>
          {{#zone_sizes}}
          <tr>
            <td>{{FULLNAME}}</td>
            <td>{{PERC}}</td>
            <td class={{MEETS_THRESH}}></td>
          </tr>
          {{/zone_sizes}}
        </tbody>
      </table>
 </div>

 <div class="reportSection">
    <h4>Size</h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}zone{{/isCollection}} is <strong>{{size}} sq. km.</strong>
      
    </p>
 </div>

 <div class="reportSection">
    <h4>Fishing Value<a href="#" data-toggle-node="576dd593c95114be19e2d493" data-visible="false">show heatmap layer</a></h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_fishing_value}}%</strong> of the total fishing value within Curacao's waters, based on the user reported value of fishing grounds.
    </p>
 </div>

 <div class="reportSection">
    <h4>Dive Value<a href="#" data-toggle-node="576dd593c95114be19e2d497" data-visible="false">show heatmap layer</a></h4>
    <p>
      The {{#isCollection}}collection{{/isCollection}}{{^isCollection}}sketch{{/isCollection}} overlaps with approximately <strong>{{displaced_dive_value}}%</strong> of the total dive value within Curacao's waters, based on the user reported value of dive sites.
    </p>
 </div>


 